.idea/*
.vscode/*
*/php_errors.log
*/pull-last-update.txt
*/config.php
images/*
!images/default.jpg
locations/*
!locations/test.png
riddles/*
!riddles/default.jpg
data/avatars/*
!data/avatars/placeholder
data/badges/*
!data/badges/placeholder
data/selfies/*
!data/selfies/placeholder
data/qrcodes/*
!data/qrcodes/placeholder
!data/qrcodes/tmp/placeholder
translation/**/*.mo
translation/**/*.po
html2pdf/vendor/
