.idea/*
.vscode/*
*/php_errors.log
*/pull-last-update.txt
*/config.php
avatars/*
!avatars/default.jpg
images/*
!images/default.jpg
locations/*
!locations/test.png
selfies/*
!selfies/default.jpg
riddles/*
!riddles/default.jpg
src/vendor/*
translation/**/*.mo
translation/**/*.po
