.idea/*
.vscode/*
*/php_errors.log
*/pull-last-update.txt
*/config.php
images/*
!images/default.jpg
!images/final_riddle_placeholder.jpg
locations/*
!locations/test.png
data/avatars/*
!data/avatars/placeholder
data/badges/*
!data/badges/placeholder
data/certificates/*
!data/certificates/placeholder
data/locations/*
!data/locations/placeholder
data/qrcodes/*
!data/qrcodes/placeholder
!data/qrcodes/tmp/placeholder
data/selfies/*
!data/selfies/placeholder
translation/**/*.mo
html2pdf/vendor/
html2pdf/images/signature_ab\.png
