body {
    font-family: Arial, Helvetica, sans-serif;
}

.avatar {
    height:250px;
    width: 250px;
    object-fit: cover;
}

.name {
    font-size: large;
}

.coloredSlider {
    float: left;
    clear: left;
    width: 99%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.coloredSlider .ui-slider-range {
    background: #ff0000;
}

.coloredSlider .ui-state-default, .ui-widget-content .ui-state-default {
    background: none;
    background-color: #FFF;
}
