---
---

// Custom theme variation for Code Hunting Games

@import "{{ site.theme }}";

section.page-header {
    color: #fff;
    text-align: center;
    background-color: #1770D6 !important;
    background-image: linear-gradient(120deg, #1770D6, #1AE776) !important;

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;

        > * {
            flex-grow: 1;
        }

        a {
            color: white;
            font-weight: bold;
            border-bottom: solid 3px white;
            margin: 0 10px;
            padding: 20px 0;
            text-decoration: none;

            width: 45%;
            @media screen and (min-width: 64em) {
                width: 20%;
            }
        }
        a.current, a:hover {
            border-color: #E7951A;
            text-decoration: none;
        }
    }
}

.site-footer {
    text-align: center;
}

.picture, .anim-guide {
    width: 100%;
    margin: 1em 0;
    text-align: center;

    img {
        box-shadow: 3px 3px 20px #666;
    }

    .didascaly {
        text-align: center;
        margin: 1em 0 0 0;
        font-style: italic;
        color: #222;
    }
}

.anim-guide {
    padding: 1em 0;
    background-image: linear-gradient(to bottom, #EEEEEE 60%, #CCCCCC 90%, #BBBBBB 100%);

    img {
        width: auto;
        height: 70vh;
        max-height: 700px;
    }
}
